// init start
*{
    box-sizing: border-box;
    background: none;
    border: none;
    color: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Quicksand;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Regular.otf');
}

$main-yellow : #ffc908;
//init end
.logo-container{
    img{
        width: 150px;
    }
}
#navbar{
    background: white;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 10px 15px;
    // overflow: hidden;
    z-index: 5;
    .menu-handle{
        cursor: pointer;
        z-index: 5;
        height: 42px;
        width: 42px;
        position: relative;
        transform: scale(0.8);
    }
    // .menu-handle:after{
    //     content: 'Menu';
    //     position: absolute;
    //     bottom: 0px;
    //     width: 100%;
    //     text-align: center;
    //     transition: all .3s ease;
    //     opacity: 0;
    // }
    // .menu-handle:hover:after{
    //     content: 'Menu';
    //     text-align: center;
    //     bottom: -15px;
    //     opacity: 1;
    // }
    // .menu-handle.active:after{
    //     content: 'Exit';
    //     text-align: center;
    //     bottom: -15px;
    //     opacity: 0;
    //     color: white;
    // }
    // .menu-handle.active:hover:after{
    //     content: 'Exit';
    //     text-align: center;
    //     bottom: -15px;
    //     opacity: 1;
    //     color: white;
    // }
    .logo-container{
        z-index: 5;
    }
    .menu-lines{
        height: 42px;
        width: 42px;
        border: 8px solid $main-yellow;
        border-radius: 50%;
        transition: none !important;
        position: absolute;
        transform: translate(0px, 0px);
    }
    #line1{

    }
    #line2{

    }
    .caption{
        margin-top: 45px;
        font-size: 14px;
        width: 42px;
        text-align: center;
        opacity: 0;
        transition: all .3s ease;
        top: -5px;
        position: relative;
    }
    .caption.active{
        color: white;
    }
    .menu-handle:hover{
        .caption{
            opacity: 1;
            top: 0;
        }
        .menu-lines{
        }
    }
    .menu-handle.active{
        .caption{
            opacity: 1;
            top: 0;
        }
        .menu-lines{
            border: 8px solid white;
            transition: all .1s ease;
        }
        #line1{
            border-radius: 0;
            transform: translate(16px, 18px) rotateZ(-45deg);
            // border-top: 0
            border-bottom: 0px solid transparent;
            border-right: 0px solid transparent;
            width: 28px;
            height: 28px;
            transform-origin: top left;
        }
        #line2{
            border-radius: 0;
            transform: translate(-1px, -10px) rotateZ(-45deg);
            border-top: 0px solid transparent;
            border-left: 0px solid transparent;
            width: 28px;
            height: 28px;
            transform-origin: bottom right;
        }
    }

}
.nav-menu{
    position: fixed;
    z-index: -5;
    opacity: 0;
    background: rgba(255, 201, 8, 1);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    color: #333;
    font-size: 30px;
    transition: all .3s ease;
    .abs-vert{
        position: absolute;
        top: 20%;
        left: 10%;
        transition: all .5s ease;
    }
    ul{
        padding-bottom: 30px;
        border-bottom: 3px solid transparent;
        transition: all .5s ease .3s;
    }
    li{
        width: 100%;
        position: relative;
        left: -30px;
        transition: all .3s ease;
        a{
            padding: 10px 0px;
            padding-right: 50px;
            display: block;
        }
    }
    .nav-footer{
        color: black;
        font-weight: bold;
        font-size: 14px;
        padding: 40px 0;
        position: relative;
        bottom: -20px;
        opacity: 0;
        transition: all .5s ease .0s;
    }
    .div-group{
        font-size: 18px;
    }
    .copyright{
        margin-top: 20px;
    }
}
.nav-menu.active{
    display: block;
    z-index: 8;
    // opacity: 0.7;
    opacity: 1;
    li{
        left: 0;
    }
    li:hover{
        opacity: 0.5;
        left: 15px;
    }
    .nav-footer{
        opacity: 1;
        bottom: 0;
    }
    ul{
        padding-bottom: 30px;
        border-bottom: 3px solid white;
    }
}

#navbar.active{
    z-index: 9;
    overflow: visible;
    background: $main-yellow
}

#workSlider{
    // position: fixed;
    // bottom: 0;
    width: 100%;
    position: relative;
    // bottom: -70px;
    ul{
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 5;
        li{
            padding: 10px;
        }
    }
    .prevArrow{
        position: absolute;
        width: 50px;
        background: rgba(0,0,0,0.3);
        height: 50px;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
        z-index: 5;
        cursor: pointer;
        opacity: 0;
    }
    .nextArrow{
        position: absolute;
        width: 50px;
        background: rgba(0,0,0,0.3);
        height: 50px;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        z-index: 5;
        cursor: pointer;
        opacity: 0;
    }
    .slide-items{
        width: 100vw;
        // padding: 10px 10px 0px 10px;
        outline: none;
        cursor: pointer;
        // max-height: 35vh;
        overflow: hidden;
        position: relative;
        // left: 50px;
        transition: all .5s cubic-bezier(0.63, 0.6, 0.46, .95);
        img{
            display: block;
            width: 100%;
            transition: all .8s ease;
            position: relative;
        }
        .hover-tint{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 5;

            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,e0e0e0+100&0.11+0,0.42+100 */
            background: -moz-linear-gradient(-45deg, rgba(30,87,153,0.11) 0%, rgba(224,224,224,0.42) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(-45deg, rgba(30,87,153,0.11) 0%,rgba(224,224,224,0.42) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(135deg, rgba(30,87,153,0.11) 0%,rgba(224,224,224,0.42) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1e5799', endColorstr='#6be0e0e0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

            opacity: 0;
            transition: all .3s ease;
        }
    }
    .slide-items:hover{
        img{
            transition: all .3s ease;
            // transform: scale(0.95);
        }
        .hover-tint{
            opacity: 1;
        }
    }
}


.slide-items.starting{
    transform: translateY(90px);
    opacity: 0;
}

#workSlider:hover{
    .slide-items{

    }
    .slide-items:hover{

    }
}


#parentContainer{
    position: relative;
    padding-top: 100px;
    z-index: 4;
    top: 0;
}
.container{
    width: 100%;
    margin: auto;
    padding: 0 15px;
    max-width: 700px;
}
#indexBanner{
    padding: 10vw 0;
    position: relative;
    z-index: 5;
    .container{
        display: flex;
        flex-wrap: wrap-reverse;
        align-items: center;
    }
    .w50{
        width: 100%;
        font-size: 30px;
        .yellow-highlight{
            font-size: 20px;
            color: #ffc908;
            margin-top: 15px;
        }
    }
}
.blur{
    filter: blur(0);
    transition: filter .5s ease;
}
.blur.active{
    filter: blur(5px);
    transition: filter 1s ease;
}
body{
    // overflow: hidden;
}
#parentContainer.hide{
    top: -20vh;
    opacity: 0;
    transition: all 1s ease;
}
#workSlider.hide{
    bottom: -20vh;
    opacity: 0;
    transition: all 1s ease .3s;
}

.w50{
    width: 100%;
}
.w25{
    width: 100%;
}

.first-sec{
    opacity: 0;
    transition: all .5s ease;
}

.second-sec{
    // left: 100px;
    opacity: 0;
    transition: all 1.2s ease .5s;
}

#displaySlider{
    .slick-list{
        // overflow: visible;
    }
    .slide-items{
        outline: none;
        position: relative;
        width: 280px;
        // height: 18vw;
        height: 170px;
        img{
            display: block;
            max-height: 100%;
            max-width: 100%;
            margin: auto;
            opacity: 0;
            transition: left 1.5s ease, opacity .8s ease;
            left: -50px;
            position: relative;
        }
    }
    .slide-items.slick-cloned{
        img{
            opacity: 0;
            // left: 50px;
        }
    }
    .slide-items.slick-center{
        img{
            opacity: 1;
            // transform: scale(1);
            left: 0;
        }
    }
}

//bookmark-1-----------------------------------------\\


@font-face {
    font-family: Cocogoose;
    src: url('../fonts/Cocogoose.ttf');
}

//ABOUT PAGE--------------------------------------------\\\
#aboutHeader,#aboutFiller2{
    padding-top: 5vh;
    .container{
        font-family: Cocogoose;
        text-align: left;
        font-size: 24px;
        line-height: 35px;
    }
}
#aboutFiller{
    background: #f5f5f5;
    margin: 9vh 0 -9vh;
    .container{
        width: 300px;
        padding: 5vh 0 15vh;
        font-size: 14px;
        line-height: 20px;
    }
    .yellow-lined{
        border-bottom: 1px solid $main-yellow;
        padding-bottom: 5px;
        margin-bottom: 5px;
    }
}
#aboutSlider{
    .slide-items{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 60%;
        margin: auto;
        img{
            width: 100%;
        }
        .text-container{
            padding: 30px 0px;
            line-height: 30px;
            color: #585858;
        }
    }
}
#aboutIdentity{
    margin: 0vh 0;
    padding: 5vh 0;
    .handle-parent{
        transition: all .8s ease;
        padding: 15px 0;
        max-height: 55px;
        overflow: hidden;

        .title{
            color: #333;
            font-size: 20px;
            font-weight: bold;
            cursor: pointer;

        }
        ul{
            padding: 20px 0;
        }
        li{
            padding: 4px 0;
            opacity: 0.7;
            transition: opacity .3s ease;
            cursor: default;
            font-size: 14px;
        }
        li:hover{
            opacity: 0.3;
        }
    }
    .handle-parent.active{
        background: #111;
        box-shadow: inset 0px 0px 0px 0px rgba(255,255,255, 0.5);
        // background: rgb(56,56,56); /* Old browsers */
        // background: -moz-linear-gradient(left, rgba(56,56,56,1) 1%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
        // background: -webkit-linear-gradient(left, rgba(56,56,56,1) 1%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
        // background: linear-gradient(to right, rgba(56,56,56,1) 1%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383838', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
        color: white;
        max-height: 400px;
        .title{
            font-family: Cocogoose;
            color: white;
            font-weight: lighter;
            cursor: default;
        }
    }
    .handle-parent:hover{
        .title{
            opacity: 0.5;
        }
    }
    .handle-parent.active:hover{
        .title{
            opacity: 1;
        }
    }

}
#aboutClients{
    .fade-title{
        font-size: 18px;
        opacity: 0.3;
        font-family: Cocogoose;
    }
    .flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 30px 0;
        .flex-module{
            width: 50%;
            text-align: center;
            min-height: 90px;
            cursor: pointer;
            position: relative;
            img{
                display: block;
                margin: auto;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(0.8);
                transition: all .3s ease;
            }
        }
        .flex-module:hover{
            img{
                top: 45%;
            }
        }
    }
}
#aboutTeam{
    .title{
        font-family: Cocogoose;
        text-align: left;
        font-size: 30px;
        line-height: 40px;
        position: relative;
        top: 3vh;
        z-index: 5;
    }
    .slider-items{
        outline: none;
        .avatar-module{
            border: 1px solid white;
            overflow: hidden;
            background: #f0f0f0;
            img{
                display: block;
                width: 100%;
                transition: all .3s ease;
            }
        }
        .avatar-module:hover{
        }
    }

}
//ABOUT PAGE--------------------------------------------\\\


// WORK PAGE----------------------------------------------\\\
#workParent{
    padding-bottom: 30px;
    .work-title{
        font-family: Cocogoose;
        font-size: 34px;
        margin-bottom: 10px;
        text-align: center;
    }
    .filter-container{
        display: flex;
        flex-wrap: wrap;
        padding: 0 5px;
        justify-content: center;
        .filters{
            border-bottom: 1px solid transparent;
            padding-bottom: 3px;
            cursor: pointer;
            transition: all .3s ease;
            margin: 4px 10px;
        }
        .filters.active{
            color: $main-yellow;
            border-bottom: 1px solid $main-yellow;
        }
    }
    .work-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 20px;
        position: relative;
        transition: all .8s cubic-bezier(0.84, -0.05, 0.25, 1) !important;;
    }
    .work-container.hidden{
        opacity: 0.5;
        transform: translateX(290px);
    }
    .work-module{
        width: 100%;
        border: 3px solid white;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        bottom: 0;
        img{
            display: block;
            width: 100%;
        }
    }
    .work-module.hide{
        // position: absolute;
        bottom: -50px;
        display: none;
        opacity: 0;
        z-index: -55;
        // transform: scale(0) translate(-50%, -50%);
        // top: 50%;
        // left: 50%;
    }
    .work-module.hidden{
        display: none;
    }
    .work-module:hover{
        img{
            transform: translate(-50%, -50%) scale(1.2);
        }
    }
}
@for $i from 1 to 10 {
    .work-module:nth-child(#{$i}) {
        animation-delay: $i * 0.5s;
    }
}
#workDetail{
    position: fixed !important;
    top: 0;
    right: -100vw;
    width: 100%;
    height: 100%;
    background: white;
    transition: all .8s cubic-bezier(0.84, -0.05, 0.25, 1) !important;
    z-index: 66;
    .section{
        font-family: Cocogoose;
        font-size: 20px;
        background: white;
        min-height: 100vh;
        img{
            display: block;
            margin: auto;
            position: absolute;
            top: 62px;
            max-height: 55%;
            max-width: 100%;
            left: 50%;
            transform: translateX(-50%);
        }
        .title{
            font-size: 15px;
            line-height: 22px;
            font-weight: bold;
            font-family: Cocogoose;
            margin-top: 20px;
            color: #19365f;
        }
        .paragraph{
            font-size: 14px;
            font-family: Quicksand;
            // line-height: 30px;
            margin-top: 10px;
            color: #333;
        }
    }
    img.right-img{
        // position: absolute;
        // right: 0;
        // top: 50%;
        // transform: translateY(-50%);
    }
    .text{
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translateX(-50%);
        width: 85%;
    }
    .section.center-container{
        text-align: center;
        .title{
            padding: 50px 0;
            width: 100%;
            margin: auto;
        }
        img{
            // max-width: 80vw;

        }
    }
    .section.main-bg{
        color: white;
        background: #19365f;
        .title{
            color: white;
        }
    }
    .section{
        .fp-tableCell{
            position: relative;
        }
        .w50{
            width: 100%;
            min-height: 100%;
            display: block;
            position: relative;
            top: 0;
            left: 0;
            position: absolute;
            .text{
                margin: auto;
            }

        }
    }
}
#workDetail.active{
    right: 0vw;

}
#navbar.naked{
    background: none;
}
.overflowHide{
    overflow: hidden;
}
#workHandle{
    position: fixed;
    top: 12px;

    // display: none;
    height: 40px;
    width: 40px;
    background: transparent;
    z-index: 67;
    left: -100px;
    transition: all .5s ease;
    cursor: pointer;

}
#workHandle.active{
    left: 0;
    left: 16px;

}
.mCSB_inside > .mCSB_container {
    margin-right: 0 !important;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: $main-yellow !important;
    filter: "alpha(opacity=75)";
    -ms-filter: "alpha(opacity=75)";
}
.logo-container.hide{
    opacity: 0;
}

// WORK PAGE----------------------------------------------\\\

// @media only screen
//   and (min-device-width: 768px)
//   and (max-device-width: 1024px)
//   and (orientation: portrait)
//   and (-webkit-min-device-pixel-ratio: 1) {
//       .container{
//           width: 60vw;
//       }
//       #aboutSlider .slide-items {
//         width: 100%;
//     }
//
// }

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
      .entry{
          opacity: 0;
          position: relative;
          top: 50px;

      }
      .closed{
          opacity: 1 !important;
          top: 0 !important;
          transition: all .8s ease;
      }
      .container{
          width: 60vw;
      }
      #aboutSlider .slide-items {
        width: 100%;
    }
    #aboutClients{
        .flex-module{
            position: relative;
            left: 50px;
            opacity: 0;
            transition: all .4s ease;
        }
    }
    #aboutClients.closed{
        .flex-module{
            left: 0;
            opacity: 1;
        }
    }
    #workParent{
        .container{
            width: 100%;
            max-width: 90vw;
            padding: 0 15px;
        }
        .work-module{
            width: 50%;
            min-height: 0px;
            max-height: 27vw;
            img{
                width: 100%;
                position: relative;
                top: 0;
                left: 0;
                transform: none;
            }
        }
        .work-module:hover{
            img{
                transform: none !important;
            }
        }
    }

}
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {
      #indexBanner{
          .container{
              width: 80vw;
              max-width: 80vw;
          }
          .w50{
              width: 50%;
          }
      }
    #workSlider{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    #aboutSlider{
        .slide-items{
            img{
                width: 50%;
            }
            .text-container{
                width: 50%;
                padding: 20px;
            }
        }
    }
    #aboutClients{
        .flex{
            .flex-module{
                width: 25%;
            }

        }

    }
}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
    #indexBanner{
        .container{
            position: relative;
            width: 90vw;
            max-width: 90vw;
        }
        .w50{
            width: 50%;
        }
    }
}
